**/node_modules
**/dist
**/build
**/.data
**/.env
**/.env.local
**/*.log
**/npm-debug.log*
.git
.github
.gitignore
.DS_Store
**/.vscode
**/.idea
server/tests
Dockerfile
.dockerignore
docker-compose.yml
README.md
